<h1 class="m-4">New Game</h1>
<div class="card m-4">
  <div class="card-body">
    <% @letters.each do |letter| %>
      <%= letter %>
    <% end %>
  </div>
</div>

<div class="m-4">
  <p>What is the longest word you can find?</p>
  <form class="input-group" action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="text" class="form-control" name="word" aria-label="word" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Play</button>
  </form>
</div>
