<div class="m-4">
  <h1>Result</h1>

  <% if !@included %>
    <%= "Sorry but #{@word} can't be built out of #{@letters}." %>
  <% elsif @valid %>
    <%= "Congratulations! #{@word} is a valid English word." %>
  <% else %>
    <%= "Sorry but #{@word} does not seem to be a valid English word." %>
  <% end %>

  <p><%= link_to 'Play again', new_path %></p>
</div>
